<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MASLMonthlyCapitalExpenditureStatement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MASLMonthlyCapitalExpenditureStatement.Properties.Settings.MonthlyCapitalExpenditureStatementSystemDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MonthlyCapitalExpenditureStatementSystemDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MASLMonthlyCapitalExpenditureStatement.Properties.Settings>
            <setting name="DatabaseLocation" serializeAs="String">
                <value>C:\Users\user\source\repos\Projects\C# Programming Projects\My Projects\MASL Monthly Capital Expenditure Statement\MASLMonthlyCapitalExpenditureStatement\MonthlyCapitalExpenditureStatementSystemDB.mdf</value>
            </setting>
        </MASLMonthlyCapitalExpenditureStatement.Properties.Settings>
    </userSettings>
</configuration>